Each column dtype is: all object (string)
Each dtype: should be type (categorical/continuous):
Description: string (categorical), Basic unit: string (categorical), Beg balance: float (continuous), 
Q received: float (continuous), Q dispensed: float (continuous), Loss/adj: float (continuous), End bal: float (continuous)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Import csv into dataframe
df = pd.read_csv('6.-Hospital-Data-with-Mixed-Numbers-and-Characters.csv')

In [11]:
df.head(100)

,Description,Basic Unit,Beginning Balance,Quantity Received,Quantity Dispensed,Losses and Adjustments,Ending Balance (Physical Count)
0,Tab. Cefuroxime 250mg,10,1000,0,0,0,0
1,Tab. Cefuroxime 250mg,10,1000,0,0,0,0
2,Tab. Cefuroxime 250mg,10,1000,0,0,0,0
3,Cap Ampicillin,100,350,0,0,0,0
4,Cap Ampicillin,100,350,0,0,0,0
...,...,...,...,...,...,...,...
95,Tabs Ascorbic acid 100mg,1000's,0,0,0,0,0
96,Tabs Ascorbic acid 100mg,1000's,0,0,0,0,0
97,Tabs Ascorbic acid 100mg,1000's,0,0,0,0,0
98,Tabs Ascorbic acid 100mg,1000's,0,0,0,0,0
99,Tabs Ascorbic acid 100mg,1000's,0,0,0,0,0

In [5]:
df.describe()

,Description,Basic Unit,Beginning Balance,Quantity Received,Quantity Dispensed,Losses and Adjustments,Ending Balance (Physical Count)
count,5846,5846,5846,5846,5846,5846,5846
unique,519,52,231,62,243,30,154
top,Chlorhexidine Gel,100's,0,0,0,0,0
freq,76,1286,3510,4823,4250,5630,4065

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5846 entries, 0 to 5845
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Description                      5846 non-null   object
 1   Basic Unit                       5846 non-null   object
 2   Beginning Balance                5846 non-null   object
 3   Quantity Received                5846 non-null   object
 4   Quantity Dispensed               5846 non-null   object
 5   Losses and Adjustments           5846 non-null   object
 6   Ending Balance (Physical Count)  5846 non-null   object
dtypes: object(7)
memory usage: 319.8+ KB