Write some code taht takes one list and creates a second list that has the type for each entry in the list.
Use type() function and for loop.

optional: filter out repeats

In [2]:
import csv
import pandas as pd

In [6]:
# My way
list_a = [4, True, "Hello", 79.5, False, 18]

list_b = []

for i in range(0, len(list_a)):
    list_b.append(type(list_a[i]))

print(list_b)

# Alternate (example) way
unique_types = []
for item in list_a:
    item_type = type(item)
    if item_type not in unique_types:
        unique_types.append(item_type)

print(unique_types)

[<class 'int'>, <class 'bool'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'int'>]
[<class 'int'>, <class 'bool'>, <class 'str'>, <class 'float'>]

In [17]:
# Combine 2 lists into dictionary
# Shortcut: dict(zip(list1, list2))

list1 = ['one', 'two', 'three']
list2 = ['1', '2', '3']

combo_dict = {}

for i in range(len(list1)):
    combo_dict[list1[i]] = list2[i]

print(combo_dict)

{'one': '1', 'two': '2', 'three': '3'}

In [19]:
car_dict = {
    "Make" : "Honda",
    "Model" : "Civic",
    "Year" : 2003,
    "Doors" : 4,
    "Cylinders" : 4
}

print(car_dict)

{'Make': 'Honda', 'Model': 'Civic', 'Year': 2003, 'Doors': 4, 'Cylinders': 4}

In [28]:
# Check if 1.0 float is same as boolean True
if 1.0 == True:
    print('True')

True

In [42]:
# Get student name and grade from user (my version)
gradebook = {}
for i in range(5):
    name = input("Student name: ")
    grade = input("Enter their grade: ")
    gradebook[name] = grade

with open('gradebook.txt', "w") as f:
    for key, value in gradebook.items():  
        f.write('%s:%s\n' % (key, value))

print(gradebook)

{'a': '2', 'g': '5', 'k': '8', 'v': '5', 'n': '7'}

In [43]:
# Get student name and 5 grades for each student (example version)

# Save the info in a dictionary
report_card = {}

for i in range(5):
    student = input(f"Student name {i + 1}: ")
    student_grades = []
    for j in range(5):
        grade = input(f"Enter grade {j + 1} for {student}: ")
        student_grades.append(grade)
    report_card[student] = student_grades

# Write dictionary into a file
with open('report_card.txt', "w") as f:
    for name, grades in report_card.items():  
        f.write(f"{name}: {','.join(str(grade) for grade in grades)}\n")

print(report_card)

{'q': ['1', '2', '3', '', '4'], 's': ['1', '2', '3', '4', '5'], 'd': ['1', '2', '3', '4', '5'], 'f': ['1', '2', '3', '4', '5'], 'g1': ['2', '3', '4', '5', '6']}

In [27]:
# Read file and extract product names and total sales for each product
# (Using CSV module, import csv above)
import csv

with open('sales_data.csv', 'r') as sales:
    all_sales = csv.DictReader(sales)

    # Store product_name, total_sale in dict
    product_sales = {}
    for row in all_sales:
        product_sales[row['Product_Name']] = row['Total_Sale']
        
    # Write to text file from dict
    with open('product_sales.txt', "w") as ps:
        for product, total in product_sales.items():  
            ps.write('%s:%s\n' % (product, total))

print(product_sales)

{'Muffin Hinge - 211n': '1142.64', 'Mushroom - Crimini': '377.84', 'Sauce - Sesame Thai Dressing': '3332.98', 'Oil - Shortening - All - Purpose': '1858.5', 'Soup - Campbells, Lentil': '4792.92', 'Urban Zen Drinks': '114.1', 'Onions - Red': '1844.5', 'Cream - 10%': '464.13', 'Sultanas': '4050.0', 'Wine - Chenin Blanc K.w.v.': '2141.02', 'Chutney Sauce - Mango': '2229.44', 'Cafe Royale': '311.22', 'Banana Turning': '6208.44', 'Wine - Conde De Valdemar': '2316.48', 'Flour - Rye': '2364.56', 'Bread Foccacia Whole': '300.24', 'Water - Mineral, Natural': '1992.32', 'Apple - Delicious, Golden': '3928.34', 'Onions Granulated': '6152.73', 'Beer - Alexander Kieths, Pale Ale': '2610.86', 'Trueblue - Blueberry': '4235.3', 'Poppy Seed': '4081.7', 'Pasta - Cheese / Spinach Bauletti': '9102.84', 'Bread - Olive': '774.52', 'Ice Cream Bar - Oreo Sandwich': '656.88', 'Shrimp - 16/20, Iqf, Shell On': '713.28', 'Veal - Nuckle': '4462.76', 'Chocolate - Mi - Amere Semi': '137.28', 'Sour Puss - Tangerine': '2880.5', 'Yogurt - French Vanilla': '142.34', 'Absolut Citron': '2534.4', 'Sesame Seed': '67.74', 'Cookie - Oreo 100x2': '2058.42', 'Energy - Boo - Koo': '992.88', 'Beef - Rib Roast, Cap On': '154.06', 'Dehydrated Kelp Kombo': '51.15', 'Phyllo Dough': '743.61', 'Soup - Tomato Mush. Florentine': '7773.22', 'Cornish Hen': '3060.0', 'Wine - White, Ej Gallo': '863.07', 'Wine - Pinot Noir Stoneleigh': '1199.68', 'Pepper - Green, Chili': '3960.16', 'Bread - Raisin Walnut Oval': '565.74', 'Veal - Shank, Pieces': '184.38', 'Wine - Piper Heidsieck Brut': '60.28', 'Pork - Side Ribs': '1239.55', 'Shark - Loin': '899.6', 'Soup - Knorr, French Onion': '1344.42', 'Water Chestnut - Canned': '353.78', 'Sugar Thermometer': '4231.41', 'Chervil - Fresh': '2606.01', 'Muskox - French Rack': '731.92', 'Flower - Leather Leaf Fern': '266.64', 'Buffalo - Tenderloin': '4038.64', 'Pecan Raisin - Tarts': '2714.85', 'Muffin Mix - Chocolate Chip': '7116.77', 'Sauerkraut': '6840.1', 'Coffee - Irish Cream': '1960.98', 'Juice - Orange 1.89l': '4011.23', 'Eel - Smoked': '1834.11', 'Ginger - Pickled': '630.24', 'Beer - Sleemans Cream Ale': '161.7', 'Bar - Sweet And Salty Chocolate': '7066.56', 'Pork Ham Prager': '4055.52', 'Muffin Mix - Corn Harvest': '1322.2', 'Wine - White, Antinore Orvieto': '3309.84', 'Tuna - Bluefin': '87.98', 'Bread - Italian Sesame Poly': '955.36', 'Potatoes - Parissienne': '130.9', 'Coffee - Egg Nog Capuccino': '2671.95', 'Mustard - Dijon': '4601.3', 'Juice - Prune': '189.44', 'Lychee': '319.8', 'Ice Cream - Strawberry': '1451.29', 'Quail - Jumbo Boneless': '4176.72', 'Sugar - Splenda Sweetener': '1567.62', 'Wine - Chardonnay Mondavi': '89.92', 'Wine - Prosecco Valdobiaddene': '3635.37', 'Mushroom - Shitake, Fresh': '4069.0', 'Water - Tonic': '4464.2', 'Schnappes - Peach, Walkers': '4760.12', 'Vermacelli - Sprinkles, Assorted': '1561.95', 'Cheese Cheddar Processed': '513.12', 'Cheese - Cheddar, Mild': '3185.0', 'Tea - Lemon Green Tea': '3343.2', 'Mushroom - Chanterelle, Dry': '7199.27', 'Fish - Bones': '3967.38', 'Lobster - Live': '2250.6', 'Juice - V8, Tomato': '1283.5', 'Wine - White, Chardonnay': '4977.98', 'Bread - Ciabatta Buns': '1604.12', 'Kellogs Cereal In A Cup': '603.36', 'Chicken - White Meat, No Tender': '1909.37', 'Arizona - Plum Green Tea': '685.9', 'Ice - Clear, 300 Lb For Carving': '1562.6', 'Muffin Batt - Ban Dream Zero': '4079.6', 'Nut - Pecan, Pieces': '3683.2', 'Mushrooms - Black, Dried': '1663.2'}

In [4]:
# Read file and extract product names and total sales for each product
# Not saved to dict
# (Using pandas)

sales_data = pd.read_csv('sales_data.csv')

product_sales = sales_data[['Product_Name', 'Total_Sale']]

product_sales

                        Product_Name  Total_Sale
0                Muffin Hinge - 211n     1142.64
1                 Mushroom - Crimini      377.84
2       Sauce - Sesame Thai Dressing     3332.98
3   Oil - Shortening - All - Purpose     1858.50
4           Soup - Campbells, Lentil     4792.92
..                               ...         ...
95   Ice - Clear, 300 Lb For Carving     1562.60
96      Muffin Batt - Ban Dream Zero     2212.60
97               Nut - Pecan, Pieces     3683.20
98          Mushrooms - Black, Dried     1663.20
99      Muffin Batt - Ban Dream Zero     4079.60

[100 rows x 2 columns]